/* Variables
---------------------------------------------------------------------------------------------------- */

/* Colors */

$color-primary: #406174;
$color-secondary: #82a28a;
$color-tertiary: #fefefe;

$black: #000;
$white: #fff;
$grey-main: #333;
$grey-alt: #aaa;

/* Typography */

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Poppins', sans-serif;

/* Misc. */

