/* Variables
---------------------------------------------------------------------------------------------------- */

/* Colors */
$blue-light: #d5e7fb;
$blue-mid: #6699ce;
$blue-mid-alt: #afd0ef;
$blue-dark: #062fa5;
$orange-dark: #df7a36;
$orange-light: #ffcc95;

$black: #000;
$white: #fff;
$grey-main: #333;
$grey-alt: #E5E5E5;

/* Typography */

$font-primary: 'Verdana', sans-serif;

/* Misc. */

