/* Large Tablet / Small Desktop Styles
---------------------------------------------------------------------------------------------------- */

@media (min-width: 1024px) {
    
    
    /* Header
    --------------------------------------------- */
    
    .primary-navigation {
        display: block;
        width: 100%;
        background: $blue-mid;
        padding: 15px;

        a {
            color: $white;

            &:hover,
            &:focus {
                color: $black;
            }
        }
    }
    
}