/* Large Tablet / Small Desktop Styles
---------------------------------------------------------------------------------------------------- */

@media (min-width: 780px) {
    
    .admin-bar .mobile-navigation {
        top: 32px;
    }
    
}

@media (min-width: 800px) {
    
    
    /* Header
    --------------------------------------------- */
    
    .menu-toggle {
        display: none;
    }
    
    .primary-navigation {
        display: block;
        width: 100%;
        background: $blue-mid;
        padding: 5px 10px;
        
        .menu {
            list-style: none;
            text-align: center;
            
            & > li {
                display: inline-block;
                position: relative;
            }
            
            a {
                display: block;
                padding: 0 5px;
                color: $white;

                &:hover,
                &:focus {
                    color: $black;
                }
            }
            
            .sub-menu {
                position: absolute;
                display: none;
                top: 100%;
                left: 0;
                width: 200px;
                background: $blue-mid;
                box-shadow: 0px 10px 15px fade-out($black, .95);
                z-index: 1000; /* Above Everything */

                li {
                    display: block;
                    position: relative;
                }

                a {
                    padding: 5px 15px;
                    text-align: left;
                }

                .sub-menu {
                    display: none;
                    top: 0;
                    left: 100%;
                }
            }

            li:hover > .sub-menu,
            li:focus-within > .sub-menu {
                display: block;
            }
        }
        
    }
    
}