/* Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

body {
	background-color: $grey-alt;
	color: $black;
	font-family: $font-primary;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img,
.more-link {
	transition: all 0.3s ease-in-out;
}

a {
	color: $blue-dark;
	text-decoration: none;
    
    img {
        transform: translate3d(0px,0px,0px);
        transition: all .3s ease-in-out;
    }
    
}

a:focus,
a:hover {
	color: $orange-dark;
	text-decoration: none;
    
    img {
        opacity: .6;
    }
}

p {
	margin: 0 0 15px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid $grey-alt;
	clear: both;
	margin: 10px 0;
}

b,
strong {
	font-weight: 700;
}

cite,
em,
i {
	font-style: italic;
}

mark {
	background: $grey-alt;
	color: $grey-main;
}

blockquote {
	padding: 10px;
    margin: 10px 0;
    background: $blue-light;
    
    p:last-of-type {
        margin-bottom: 0;
    }
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-primary;
	font-weight: 700;
	line-height: 1.2;
    font-size: 12px;
	font-size: 1.2rem;
	margin: 0;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	vertical-align: top;
}

figure {
	margin: 0;
}

/* Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
}

.gallery img {
	height: auto;
	padding: 4px;
}

.gallery img:focus,
.gallery img:hover {
    opacity: .7;
	outline: none;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}

.gallery-item {
	float: left;
	margin: 0 0 8px;
	text-align: center;
}

/* Forms
--------------------------------------------- */

label {
    display: inline-block;
    font-weight: 700;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    background: $white;
    border: 1px solid $blue-mid;
    padding: 10px !important;
    transition: all .3s ease-in-out;
    border-radius: 0 !important;
    
    &:hover,
    &:focus,
    &:active {
        border-color: $orange-light;
    }
}

input[type="text"],
input[type="email"],
input[type="search"] {
    -webkit-appearance: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
    display: inline-block;
	width: auto;
}

::-moz-placeholder {
	color: $grey-main;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: $grey-main;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.more-link {
    background: $blue-mid;
    color: $white;
    border-color: $blue-mid;
    font-weight: 700;
    padding: 10px 20px !important;
    border-radius: 0;
    line-height: 1.8 !important;
    text-decoration: none !important;
    -webkit-appearance: none;
    
    &:hover,
    &:focus {
        background: $orange-dark;
        border-color: $orange-dark;
        color: $white;
    }
}

.button {
	display: inline-block;
}

a.button.small,
button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small {
	padding: 8px 16px;
}

.site button:disabled,
.site button:disabled:hover,
.site input:disabled,
.site input:disabled:hover,
.site input[type="button"]:disabled,
.site input[type="button"]:disabled:hover,
.site input[type="reset"]:disabled,
.site input[type="reset"]:disabled:hover,
.site input[type="submit"]:disabled,
.site input[type="submit"]:disabled:hover {
	cursor: not-allowed;
}

fieldset {
    border: 1px solid $grey-alt;
    margin-bottom: 15px;
    
    legend {
        padding: 15px;
        font-weight: 700;
        color: $orange-light;
    }
}

.required {
    color: $orange-dark;
}

/* Search Form
--------------------------------------------- */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

.search-form {
    position: relative;
    display: flex;
    
    .search-form-input {
        flex: 1 0 75%;
    }
    
    .search-submit {
        font-size: 12px;
        margin-left: 5px;
    }
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
	word-break: break-all;
}

tbody {
	border-bottom: 1px solid #eee;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #eee;
	padding: 6px;
}

th {
	font-weight: 400;
	padding: 0 6px;
}

td:first-child,
th:first-child {
	padding-left: 0;
}

/* Screen Reader Text
--------------------------------------------- */

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus {
	background: $white;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	clip: auto !important;
	color: $grey-main;
	display: block;
	font-size: 1em;
	font-weight: bold;
	height: auto;
	padding: 15px 23px 14px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Skip Links
--------------------------------------------- */

/* Display outline on focus */
:focus {
	color: $grey-main;
}

/* WordPress
--------------------------------------------- */

.aligncenter,
.alignleft,
.alignright,
.alignwide {
    display: block;
	text-align: center;
    margin: 0 auto 10px;
}

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 10px;
}

img.alignnone,
.alignnone {
	margin-bottom: 10px;
}

.alignfull {
    position: relative;
    width: 100vw;
    left: -50vw;
    margin-left: 50% !important;
}

.gallery-caption,
.wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 600;
	margin: 0;
	text-align: center;
}

.more-link {
    color: $white;
    display: table;
    margin: 15px auto;
    text-decoration: none !important;
    
    &:hover,
    &:focus,
    &:active {
        color: $white;
    }
}

.more-link--search {
    text-decoration: none !important;
    font-weight: 700;
}

/* Clearings
--------------------------------------------- */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-footer:after {
	clear: both;
}