/* Containers & General Styles
--------------------------------------------- */

.site {
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
}

/* Header
--------------------------------------------- */

.site-header {
    background: $blue-dark;
}


/* Body
--------------------------------------------- */

.site-content {
    background: $white;
    padding: 15px;
}



/* Footer
--------------------------------------------- */
