/* Containers & General Styles
--------------------------------------------- */

.site-header,
.site-content,
.site-footer {
    width: 880px;
    max-width: 95%;
    margin: 0 auto;
}

/* Header
--------------------------------------------- */

.site-header {
    background: $blue-dark;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.site-branding {
    padding: 10px;
}

.site-title {
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    
    a {
        color: $white;
    }
}

.primary-navigation {
    display: none;
}

/* Body
--------------------------------------------- */

.site-content {
    background: $white;
    padding: 20px 10px;
}

.extended-network {
    padding: 0 10px;
    margin-bottom: 20px;
    
    .widget + .widget {
        margin-top: 20px;
    }
    
    .widget_text {
        border: 1px solid $black;
        text-align: center;
        padding: 25px;
        
        .widget-title {
            font-size: 14px;
            font-size: 1.4rem;
        }
    }
    
    .widget_recent_entries {
        
        .widget-title {
            margin-bottom: 10px;
        }
        
        li + li {
            margin-top: 10px;
        }
        
        a {
            color: $black;
        }
    }
    
}

.blog,
.archive {
    
    .hentry + .hentry {
        margin-top: 20px;
    }
}

.blurbs-title,
.entry-title,
.page-title,
.comments-title,
.comment-reply-title,
.woocommerce-tabs h2,
.related > h2 {
    background: $orange-light;
    padding: 2px 10px;
    color: $orange-dark;
    
    a {
        color: $orange-dark;
    }
}

.entry-meta {
    font-size: 11px;
    font-size: 1.1rem;
    padding: 5px 10px 0;
}

.entry-meta,
.entry-footer {
    
    span {
        display: inline-block;
    }
    
    span + span {
        margin-left: 10px;
    }
    
    i {
        display: inline-block;
        margin-right: 5px;
    }
    
}

.post-thumbnail {
    display: block;
    margin-bottom: 10px;
}

.entry-content,
.blurbs-content {
    padding: 10px;
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 12px;
        font-size: 1.2rem;
        color: $orange-dark;
        margin-bottom: 5px;
    }
    
    p > a {
        font-weight: 700;
    }
    
    ul {
        margin: 0 0 10px 18px;
        
        li {
            list-style-type: disc;
        }
    }

    ol {
        margin: 0 0 10px 18px;
        
        li {
            list-style-type: decimal;
        }
    }
    
}

.entry-footer,
.post-navigation {
    padding: 0 10px;
    font-size: 11px;
    font-size: 1.1rem;
}

.comment-list {
    padding: 10px;
}

.comment-body {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid $white;
    
    .reply {
        width: 100%;
        padding: 0 5px;
        line-height: 1;
        margin-top: -15px;
        
        a,
        a:hover,
        a:focus {
            color: $black;
        }
    }
}

.comment-meta {
    flex: 0 0 150px;
    padding: 5px 5px 20px 5px;
    background: $orange-mid;
    border-right: 2px solid $white;
    
    a:hover,
    a:focus {
        color: $black;
    }
    
    .says {
        display: none;
    }
}

.comment-author.vcard {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    
    img {
        margin: 10px auto;
    }
}

.comment-metadata {
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: 700;
    
    a,
    a:hover,
    a:focus {
        color: $black;
    }
}

.comment-content {
    flex: 1 1;
    padding: 5px;
    background: $orange-light;
    
    a {
        font-weight: 700;
    }
}

.comment-respond {
    margin-top: 10px;
}

.comment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    
    input {
        display: block;
    }
    
    label {
        display: inline;
    }
    
    input[type="checkbox"] {
        display: inline-block;
        margin-right: 5px;
    }
    
    p {
        width: 100%;
        margin: 0 0 10px 0;
    }
}

p.comment-form-author,
p.comment-form-email {
    width: calc(50% - 5px;)
}

.profile-info {
    margin-bottom: 20px;
}

.profile-title {
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.profile-content {
    display: flex;
    align-items: center;
}

.profile-photo + .profile-text {
    margin-left: 10px;
}

.sidebar {
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 1.2;
    padding: 0 10px;
    
    .widget {
        border: 1px solid $blue-mid;
        padding: 2px;
        
        p:last-of-type {
            margin-bottom: 0;
        }
    }
    
    .widget + .widget {
        margin-top: 20px;
    }
    
    .widget-title {
        color: $white;
        background: $blue-mid;
        padding: 2px;
        margin: -2px -2px 2px;
    }
    
    li {
        display: flex;
        background: $blue-light;
        padding: 2px;
    }
    
    li > strong {
        display: block;
        flex: 0 0 100px;
        padding: 2px;
        margin: -2px 2px -2px -2px;
        background: $blue-mid-alt;
        color: $blue-dark;
        border-right: 2px solid $white;
    }
    
    li + li {
        margin-top: 2px;
    }
    
    .widget_custom_html {
        padding: 0;
        border: 0;
    }
}

/* Footer
--------------------------------------------- */

.site-footer {
    padding: 10px;
    font-size: 10px;
    font-size: 1rem;
    text-align: center;
}
