/* Containers & General Styles
--------------------------------------------- */

.site {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

/* Header
--------------------------------------------- */


/* Body
--------------------------------------------- */



/* Footer
--------------------------------------------- */
